div{
    margin-top:50px;
    margin-left: 500px;
    width: 500px;
    height: 500px;
    background: red;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 100px;
    transform: rotate(45deg);
    transform-origin: top left;
}
